.fp-title{
    text-align: center;
    padding:  1rem 0 1.1rem 0;
    font-size: 100;
    font-size: 20px;
}


.fP-form{
    margin-bottom: 2rem;
}

.fP-form>:nth-child(4){
    cursor: pointer;
    background: rgb(166, 171, 184);
}